<table>
  <tbody>
    <tr>
      <th>Custom Field ID</th>
      <td>
        <input type="text" id="settings_zendesk_custom_field_id" value="<%= settings['zendesk_custom_field_id'] %>" name="settings[zendesk_custom_field_id]" />
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr /><td>
    </tr>
    <th>ZenDesk Subdomain</th>
      <td>
        <input type="text" id="settings_zendesk_subdomain" value="<%= settings['zendesk_subdomain'] %>" name="settings[zendesk_subdomain]" />
      </td>
    </tr>
    <tr>
      <th>Username</th>
      <td>
        <input type="zendesk_username" id="settings_zendesk_username" value="<%= settings['zendesk_username'] %>" name="settings[zendesk_username]" />
      </td>
    </tr>
    <tr>
      <th>Password</th>
      <td>
        <input type="zendesk_passwrd" id="settings_zendesk_password" value="<%= settings['zendesk_password'] %>" name="settings[zendesk_password]" />
      </td>
    </tr>
  </tbody>
</table>
